# 1- PYTHON INTRODUCTION

 * I hope everybody install Anconda software which i share to you guys right
* Just wanted to know how many of know any programming language
* If you dont know any programming language then you are the best person to learn PYTHON 
* python is very easy language
* what is python? Ans - python is highly recommanded programming language & object oriented language
* Father of python - Guido van Rosam
* Python came from fun tv show called ''complete monty python's flying circus'' - broadcasted in BBC channel 
* Python borrowed all concept from c,c++,java,unix (so python is everything) thats why python very very powerfull tool
* Python developed in NRI - (Netherland) & lot of people say that python is new language
* Java released on 1995. python was released on 1989 officialy released on (feb 20th 1991)
*  It has a large and comprehensive standard library.

# ============

* Now python is very popular based on software industry requirment because everybody wants to write very less code/concile code
* Current market trend is - Machine learing, Artificial intelligence, data science & Iot(Internet of things)
* which companies are used python - google,nasa,uber,netfliz,reddit,facebook/meta, everywhere python used everywhere
* python code can understand everybody & python is dynamic programming language
* In python everything done by PVM (python virtual machine)
* you can access python in any platform independent- windows, linux, mac one code can run in all the 4 platform & no need to  write separate programe for every platform. Once you write code you can run in platform
* Python is dynamically programming language (not required to declared data types)
* Python is freeware and open source. Moving from one platform to other platform without changeing any code
* Python contains rich libray - numpy,pandas so python is the best application for datascience
* which scenario python can't be used - ( python can not perform in mobile application like android )
* Flavours of python - cpython(C programming),jpython(java programming),Iron python(c#.net),Ruby python(Ruby based application  programme),Anaconda python(Bigdata,datascience)
* Python 1.0 introduce in jan 1994 -- Noorganization is working now
* Python 2.0 introduce in oct 2000 -- Noorganization is working now
* Python 3.0 introduce in Dec 2008, 2016, 2017,---- latest version - 3.6, 3.6, 3.7, 3.8, 3.9, 3.10

# ============

## 2- Getting started with Python Language 
### Python 3.x
#### Version Release Date  --->
3.13 2022-25-08
3.10 2021-10-04
3.9 2020-10-05
3.8 2020-04-29 
3.7 2018-06-27
3.6 2016-12-23
3.5 2015-09-13
3.4 2014-03-17
3.3 2012-09-29
3.2 2011-02-20
3.1 2009-06-26
3.0 2008-12-03
### Python 2.x
##### Version Release Date
2.7 2010-07-03
2.6 2008-10-02
2.5 2006-09-19
2.4 2004-11-30
2.3 2003-07-29
2.2 2001-12-21
2.1 2001-04-15
2.0 2000-10-16

Python Became the Best Programming Language & fastest programming language.
Python is used in Machine Learning, Data Science, Big Data, Web Development, Scripting, llm , generati ai everywhere 
we will learn pyton from start to end || basic to expert.
if you are not done programm then that is totally fine. 
I will explain from starting from scratch.
python software - pycharm || vs code || jupyter || spyder

# ============

IDE (INTEGRATED DEVELOPMENT ENVIRONMENT) =>
- using IDE - one can write code, run the code, debug the code
- IDE takes care of interpreting the Python code, running python scripts, building executables, and debugging the applications.
- An IDE enables programmers to combine the different aspects of writing a computer program. 
- if you wnated to be python developer only then you need to install (IDE -- PYCHARM)

# ============

PYTHON INTERPRETER -->
What is Python interpreter?
A python interpreter is a computer program that converts each high-level program statement into machine code. An interpreter translates the command that you write out into code that the computer can understand

PYTHON INTERPRETER EXAMPLE --> 
You write your Python code in a text file with a name like hello.py . How does that code Run? There is program installed on your computer named "python3" or "python", and its job is looking at and running your Python code. This type of program is called an "interpreter".

# ============

Both compilers and interpreters are used to convert a program written in a high-level language into machine code understood by computers.
Interpreter -->
- Translates program one statement at a time
- Interpreter run every line item 
- Execut the single, partial line of code
- Easy for programming 

Compiler -->
- Scans the entire program and translates it as a whole into machine code.
- No execution if an error occurs
- you can not fix the bug (debug) line by line

# ============

How to create python environment variable 
- 1- cmd - python ( if it not works)
- 2- find the location where the python is installed -- >
         C:\Users\A3MAX SOFTWARE TECH\AppData\Local\Programs\Python\Python39\Scripts 
- 3- system -- env - environment variable screen will pop up 
- 4- select on system variable - click on path - create New 
- 5- C:\Users\kdata\AppData\Local\Programs\Python\Python311
- 6- env - sys variable - path - new - C:\Users\kdata\AppData\Local\Programs\Python\Python311\Scripts
- 7- cmd - type python -version
- 8- successfully python install in cmd

In [2]:
name,age,lll = input('ll: ').split()
name

ll: raja 78 winner

'raja'

In [3]:
age

'78'

In [4]:
lll

'winner'

In [5]:
name,age = input('ll: ')
print(name,age)

ll: raja 5

ValueError: too many values to unpack (expected 2)

In [6]:
import numpy as np
type(np.nan)

float

In [7]:
np.nan

nan

In [9]:
poll_data = 7,
type(poll_data)

tuple

In [10]:
poll_data

(7,)

In [11]:
dict(range(9))

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [12]:
set(range(9))

{0, 1, 2, 3, 4, 5, 6, 7, 8}

In [13]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [14]:
tuple(range(9))

(0, 1, 2, 3, 4, 5, 6, 7, 8)

In [15]:
obj_data = ( )
type(obj_data)

tuple

In [16]:
import sys
import keyword
import operator
from datetime import datetime
import os

In [17]:
print(keyword.kwlist) # List all Python Keywords

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [18]:
len(keyword.kwlist) # Python contains 35 keywords

35

# Identifiers
An identifier is a name given to entities like class, functions, variables, etc. It helps to differentiate
one entity from another.

In [19]:
1var = 10 # Identifier can't start with a digit

SyntaxError: invalid decimal literal (2087397812.py, line 1)

In [20]:
val2@ = 35 # Identifier can't use special symbols

SyntaxError: invalid syntax (619048856.py, line 1)

In [21]:
import = 125 # Keywords can't be used as identifiers

SyntaxError: invalid syntax (2492423719.py, line 1)

In [22]:
"""
Correct way of defining an identifier
(Identifiers can be a combination of letters in lowercase (a to z) or uppercase
"""
val2 = 10

In [23]:
val_ = 99

# Comments in Python
Comments can be used to explain the code for more readabilty.

In [ ]:
# Single line comment
val1 = 10

In [24]:
# Multiple
# line
# comment
val1 = 10

In [25]:
'''
Multiple
line
comment
'''
val1 = 10

In [26]:
"""
Multiple
line
comment
"""
val1 = 10

# Statements
Instructions that a Python interpreter can execute.

In [27]:
p = 20 #Creates an integer object with value 20 and assigns the variable p to p
q = 20 # Create new reference q which will point to value 20. p & q will be poi
r = q # variable r will also point to the same location where p & q are pointin
p , type(p), hex(id(p)) # Variable P is pointing to memory location '0x7fff6d71a

(20, int, '0x7ff9651f9588')

In [28]:
q , type(q), hex(id(q))

(20, int, '0x7ff9651f9588')

In [29]:
r , type(r), hex(id(r))

(20, int, '0x7ff9651f9588')

# Multiple Assignments

In [30]:
intvar , floatvar , strvar = 10,2.57,"Python Language" # Using commas to separat
print(intvar)
print(floatvar)
print(strvar)

10
2.57
Python Language

In [31]:
p1 = p2 = p3 = p4 = 44 # All variables pointing to same value
print(p1,p2,p3,p4)

44 44 44 44

# Data Types
Numeric

In [32]:
val1 = 10 # Integer data type
print(val1)
print(type(val1)) # type of object
print(sys.getsizeof(val1)) # size of integer object in bytes
print(val1, " is Integer?", isinstance(val1, int)) # val1 is an instance of int

10
<class 'int'>
28
10  is Integer? True

In [36]:
a = (5,6,7)
isinstance(a,tuple)

True

In [37]:
val2 = 92.78 # Float data type
print(val2)
print(type(val2)) # type of object
print(sys.getsizeof(val2)) # size of float object in bytes
print(val2, " is float?", isinstance(val2, float)) # Val2 is an instance of floa

92.78
<class 'float'>
24
92.78  is float? True

In [38]:
val3 = 25 + 10j # Complex data type
print(val3)
print(type(val3)) # type of object
print(sys.getsizeof(val3)) # size of float object in bytes
print(val3, " is complex?", isinstance(val3, complex)) # val3 is an instance of

(25+10j)
<class 'complex'>
32
(25+10j)  is complex? True

In [39]:

print(3 + 2)   # addition(+)
print(3 - 2)   # subtraction(-)
print(3 * 2)   # multiplication(*)
print(3 / 2)   # division(/)
print(3 ** 2)  # exponential(**)
print(3 % 2)   # modulus(%)
print(3 // 2)  # Floor division operator(//)

# Checking data types

print(type(10))                  # Int
print(type(3.14))                # Float
print(type(1 + 3j))              # Complex
print(type('Asabeneh'))          # String
print(type([1, 2, 3]))           # List
print(type({'name':'Asabeneh'})) # Dictionary
print(type({9.8, 3.14, 2.7}))    # Set
print(type((9.8, 3.14, 2.7)))    # Tuple
print(type(3 == 3))              # Bool
print(type(3 >= 3))              # Bool

5
1
6
1.5
9
1
1
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'set'>
<class 'tuple'>
<class 'bool'>
<class 'bool'>

# Arithmetic Operations in Python

In [40]:
# Arithmetic Operations in Python
# Integers

print('Addition: ', 1 + 2)
print('Subtraction: ', 2 - 1)
print('Multiplication: ', 2 * 3)
print ('Division: ', 4 / 2)                         # Division in python gives floating number
print('Division: ', 6 / 2)
print('Division: ', 7 / 2)
print('Division without the remainder: ', 7 // 2)   # gives without the floating number or without the remaining
print('Modulus: ', 3 % 2)                           # Gives the remainder
print ('Division without the remainder: ', 7 // 3)
print('Exponential: ', 3 ** 2)                     # it means 3 * 3

Addition:  3
Subtraction:  1
Multiplication:  6
Division:  2.0
Division:  3.0
Division:  3.5
Division without the remainder:  3
Modulus:  1
Division without the remainder:  2
Exponential:  9

# assignmen operator

In [119]:
i = 16
i += 1  #i = i +1
print(i)
i=16
i -= 1  #i = i -1
print(i)
i=16
i *= 2  #i = i * 1
print(i)
i = 16
i /= 2  #i = i / 2
print(i)
i=16
i //= 2   #i = i//2
print(i)

17
15
32
8.0
8

In [41]:
# Floating numbers
print('Floating Number,PI', 3.14)
print('Floating Number, gravity', 9.81)

Floating Number,PI 3.14
Floating Number, gravity 9.81

In [42]:
a = 3 # a is a variable name and 3 is an integer data type
b = 2 # b is a variable name and 3 is an integer data type

# Arithmetic operations and assigning the result to a variable
total = a + b
diff = a - b
product = a * b
division = a / b
remainder = a % b
floor_division = a // b
exponential = a ** b

In [43]:
# I should have used sum instead of total but sum is a built-in function try to avoid overriding builtin functions
print(total) # if you don't label your print with some string, you never know from where is  the result is coming
print('a + b = ', total)
print('a - b = ', diff)
print('a * b = ', product)
print('a / b = ', division)
print('a % b = ', remainder)
print('a // b = ', floor_division)
print('a ** b = ', exponential)

5
a + b =  5
a - b =  1
a * b =  6
a / b =  1.5
a % b =  1
a // b =  1
a ** b =  9

In [44]:
# Declaring values and organizing them together
num_one = 3
num_two = 4

# Arithmetic operations
total = num_one + num_two
diff = num_two - num_one
product = num_one * num_two
div = num_two / num_two
remainder = num_two % num_one

# Printing values with label
print('total: ', total)
print('difference: ', diff)
print('product: ', product)
print('division: ', div)
print('remainder: ', remainder)

total:  7
difference:  1
product:  12
division:  1.0
remainder:  1

In [45]:
print(3 > 2)     # True, because 3 is greater than 2
print(3 >= 2)    # True, because 3 is greater than 2
print(3 < 2)     # False,  because 3 is greater than 2
print(2 < 3)     # True, because 2 is less than 3
print(2 <= 3)    # True, because 2 is less than 3
print(3 == 2)    # False, because 3 is not equal to 2
print(3 != 2)    # True, because 3 is not equal to 2
print(len('mango') == len('avocado'))  # False
print(len('mango') != len('avocado'))  # True
print(len('mango') < len('avocado'))   # True
print(len('milk') != len('meat'))      # False
print(len('milk') == len('meat'))      # True
print(len('tomato') == len('potato'))  # True
print(len('python') > len('dragon'))   # False

True
True
False
True
True
False
True
False
True
True
False
True
True
False

In [46]:
# Boolean comparison
print('True == True: ', True == True)
print('True == False: ', True == False)
print('False == False:', False == False)
print('True and True: ', True and True)
print('True or False:', True or False)

True == True:  True
True == False:  False
False == False: True
True and True:  True
True or False: True

In [50]:
import warnings
warnings.filterwarnings('ignore')

# Another way comparison 
print('1 is 1', 1 is 1)                   # True - because the data values are the same
print('1 is not 2', 1 is not 2)           # True - because 1 is not 2
print('A in Asabeneh', 'A' in 'Asabeneh') # True - A found in the string
print('B in Asabeneh', 'B' in 'Asabeneh') # False -there is no uppercase B
print('coding' in 'coding for all') # True - because coding for all has the word coding
print('a in an:', 'a' in 'an')      # True
print('4 is 2 ** 2:', 4 is 2 ** 2)   # True

1 is 1 True
1 is not 2 True
A in Asabeneh True
B in Asabeneh False
True
a in an: True
4 is 2 ** 2: True

In [52]:
print(3 > 2 and 4 > 3) # True - because both statements are true
print(3 > 2 and 4 < 3) # False - because the second statement is false
print(3 < 2 and 4 < 3) # False - because both statements are false
print(3 > 2 or 4 > 3)  # True - because both statements are true
print(3 > 2 or 4 < 3)  # True - because one of the statement is true
print(3 < 2 or 4 < 3)  # False - because both statements are false
print(not 3 > 2)     # False - because 3 > 2 is true, then not True gives False
print(not True)      # False - Negation, the not operator turns true to false
print(not False)     # True
print(not not True)  # True
print(not not False) # False

True
False
False
True
True
False
False
False
True
True
False

# String
#string are immutable like tuple

In [107]:
# String Concatenation
first_name = 'Asabeneh'
last_name = 'Yetayeh'
space = ' '
full_name = first_name  +  space + last_name
print(full_name) # Asabeneh Yetayeh
# Checking length of a string using len() builtin function
print(len(first_name))  # 8
print(len(last_name))   # 7
print(len(first_name) > len(last_name)) # True
print(len(full_name)) # 15

Asabeneh Yetayeh
8
7
True
16

In [53]:
#### Unpacking characters 
language = 'Python'
a,b,c,d,e,f = language # unpacking sequence characters into variables
print(a) # P
print(b) # y
print(c) # t 
print(d) # h
print(e) # o
print(f) # n

P
y
t
h
o
n

In [54]:
# Accessing characters in strings by index
language = 'Python'
first_letter = language[0]
print(first_letter) # P
second_letter = language[1]
print(second_letter) # y
last_index = len(language) - 1
last_letter = language[last_index]
print(last_letter) # n

P
y
n

In [55]:
# If we want to start from right end we can use negative indexing. -1 is the last index
language = 'Python'
last_letter = language[-1]
print(last_letter) # n
second_last = language[-2]
print(second_last) # o

n
o

In [56]:
# Slicing

language = 'Python'
first_three = language[0:3] # starts at zero index and up to 3 but not include 3
last_three = language[3:6]
print(last_three) # hon

hon

In [57]:
# Another way
last_three = language[-3:]
print(last_three)   # hon
last_three = language[3:]
print(last_three)   # hon

hon
hon

In [58]:
# Skipping character while splitting Python strings
language = 'Python'
pto = language[0:6:2] # 
print(pto) # pto

Pto

In [59]:
# Escape sequence
print('I hope every one enjoying the python challenge.\nDo you ?') # line break
print('Days\tTopics\tExercises')
print('Day 1\t3\t5')
print('Day 2\t3\t5')
print('Day 3\t3\t5')
print('Day 4\t3\t5')
print('This is a back slash  symbol (\\)') # To write a back slash
print('In every programming language it starts with \"Hello, World!\"')

I hope every one enjoying the python challenge.
Do you ?
Days	Topics	Exercises
Day 1	3	5
Day 2	3	5
Day 3	3	5
Day 4	3	5
This is a back slash  symbol (\)
In every programming language it starts with "Hello, World!"

In [61]:
# count(): returns occurrences of substring in string, count(substring, start=.., end=..)

challenge = 'thirty days of python'
print(challenge.count('y')) # 3
print(challenge.count('y', 7, 14)) # 1
print(challenge.count('th')) # 2`

3
1
2

In [62]:
# endswith(): Checks if a string ends with a specified ending

challenge = 'thirty days of python'
print(challenge.endswith('on'))   # True
print(challenge.endswith('tion')) # False

True
False

In [64]:
# expandtabs(): Replaces tab character with spaces, default tab size is 8. It takes tab size argument

challenge = 'thirty\tdays\tof\tpython'
print(challenge)
print(challenge.expandtabs())   # 'thirty  days    of      python'
print(challenge.expandtabs(10)) # 'thirty    days      of        python'

thirty	days	of	python
thirty  days    of      python
thirty    days      of        python

In [67]:
# find(): Returns the index of first occurrence of substring

challenge = 'thirty days of python'
print(challenge.find('y'))  # 5
print(challenge.find('th')) # 0
print(challenge.find('y',6)) #after 6 index find y index.
print(challenge.find('y',10,17))  #in between 10 & 16 index it will find 'y'

5
0
9
16

In [70]:
# format()	formats string into nicer output    
first_name = 'Asabeneh'
last_name = 'Yetayeh'
job = 'teacher'
country = 'Finland'
sentence = 'I am {} {}. I am a {}. I live in {}.'.format(first_name, last_name, job, country)
print(sentence) # I am Asabeneh Yetayeh. I am a teacher. I live in Finland.

I am Asabeneh Yetayeh. I am a teacher. I live in Finland.

In [72]:
sentence = 'I am {a} {b}. I am a {c}. I live in {d}.'.format(b=first_name, a=last_name, d=job,c= country)
print(sentence)

I am Yetayeh Asabeneh. I am a Finland. I live in teacher.

In [73]:
# index(): Returns the index of substring
challenge = 'thirty days of python'

print(challenge.find('th')) # 0

0

In [75]:
# isalnum(): Checks alphanumeric character

challenge = 'ThirtyDaysPython'
print(challenge.isalnum()) # True
challenge = 'ThirtyDaysPython111'
print(challenge.isalnum()) # True
challenge = 'ThirtyDaysPython111!'
print(challenge.isalnum()) # False

True
True
False

In [76]:
challenge = '30DaysPython'
print(challenge.isalnum()) # True

True

In [77]:
challenge = 'thirty days of python'
print(challenge.isalnum()) # False

False

In [78]:
# isalpha(): Checks if all characters are alphabets

challenge = 'thirty days of python'
print(challenge.isalpha()) # True
num = '123'
print(num.isalpha())      # False

False
False

# isdecimal(): Only true for characters that are strictly decimal digits (0-9).
# isnumeric(): True for any numeric characters, including fractions, subscripts, superscripts, and Roman numerals.
# isdigit(): True for characters that are digits, including those in other numeral systems.

In [84]:
# isdecimal(): Checks Decimal Characters. it don't take argument. 
#k.isdecimal()---> k must be str not int or float.

challenge = 'thirty days of python'
print(str(challenge.find('y')).isdecimal())  # 5
print(challenge.find('th')) # 0

True
0

In [88]:
#  isdigit(): Checks Digit Characters

challenge = 'Thirty'
print(challenge.isdigit()) # False
challenge = '30'
print(challenge.isdigit())   # True

False
True

In [89]:
# isdecimal():Checks decimal characters

num = '10'
print(num.isdecimal()) # True
num = '10.5'
print(num.isdecimal()) # False

True
False

In [93]:
# isnumeric():Checks numeric characters

num = '10'
print(num.isnumeric())      # True
print('ten'.isnumeric())    # False

True
False

In [90]:
# isidentifier():Checks for valid identifier means it check if a string is a valid variable name

challenge = '30DaysOfPython'
print(challenge.isidentifier()) # False, because it starts with a number
challenge = 'thirty_days_of_python'
print(challenge.isidentifier()) # True

False
True

In [91]:
# islower():Checks if all alphabets in a string are lowercase

challenge = 'thirty days of python'
print(challenge.islower()) # True
challenge = 'Thirty days of python'
print(challenge.islower()) # False

True
False

In [92]:
# isupper(): returns if all characters are uppercase characters

challenge = 'thirty days of python'
print(challenge.isupper()) #  False
challenge = 'THIRTY DAYS OF PYTHON'
print(challenge.isupper()) # True

False
True

In [95]:
# join(): Returns a concatenated string. 
#inbetween two items of list the desired charecter will come, here  '#, '
web_tech = ['HTML', 'CSS', 'JavaScript', 'React']
result = '#, '.join(web_tech)
print(result) # 'HTML# CSS# JavaScript# React'

HTML#, CSS#, JavaScript#, React

In [98]:
web_tech = ['HTML', 'CSS', 'JavaScript', 'React','.']
result = ' '.join(web_tech)
print(result) # 'HTML# CSS# JavaScript# React'

HTML CSS JavaScript React .

In [114]:
# strip(): Removes both leading and trailing characters

challenge = ' thirty days of python '
print('l'+challenge+'r')
print('l'+challenge.rstrip()+'r')  #left side space will remove.
print('l'+challenge.lstrip()+'r')   #right side space will remove.
print('l'+challenge.strip()+'r') # remove space from both end

l thirty days of python r
l thirty days of pythonr
lthirty days of python r
lthirty days of pythonr

In [116]:
challenge='!!raja!!'
print('l'+challenge+'r')
print(challenge.rstrip('!'))  #left side ! will remove.
print(challenge.lstrip('!'))   #right side ! will remove.
print(challenge.strip('!'))

l!!raja!!r
!!raja
raja!!
raja

In [100]:
# replace(): Replaces substring inside

challenge = 'thirty days of python'
print(challenge.replace('python', 'coding')) # 'thirty days of coding'

thirty days of coding

In [101]:
# split():Splits String from Left

challenge = 'thirty days of python'
print(challenge.split()) # ['thirty', 'days', 'of', 'python']

['thirty', 'days', 'of', 'python']

In [102]:
# title(): Returns a Title Cased String

challenge = 'thirty days of python'
print(challenge.title()) # Thirty Days Of Python

Thirty Days Of Python

In [60]:
## String Methods
# capitalize(): Converts the first character the string to Capital Letter

challenge = 'thirty days of python'
print(challenge.capitalize()) # 'Thirty days of python'

Thirty days of python

In [103]:
challenge = 'thirty days of python'
print(challenge.upper()) #

THIRTY DAYS OF PYTHON

In [104]:
challenge = 'thirty days of python'
print(challenge.lower()) #

thirty days of python

In [105]:
# swapcase(): Checks if String Starts with the Specified String
  
challenge = 'thirty days of python'
print(challenge.swapcase())   # THIRTY DAYS OF PYTHON
challenge = 'Thirty Days Of Python'
print(challenge.swapcase())  # tHIRTY dAYS oF pYTHON

THIRTY DAYS OF PYTHON
tHIRTY dAYS oF pYTHON

In [106]:
# startswith(): Checks if String Starts with the Specified String

challenge = 'thirty days of python'
print(challenge.startswith('thirty')) # True
challenge = '30 days of python'
print(challenge.startswith('thirty')) # False

True
False